#secondary
  .wrapper
    %article.banners
      %img.banner{src: "/images/banner/rider.jpg", alt: "cycler", data: {topic: "rider"}}
      %img.banner{src: "/images/banner/boarder.jpg", alt: "boarder", data: {topic: "boarder"}}
      %img.banner{src: "/images/banner/developer.jpg", alt: "developer", data: {topic: "developer"}}
      %img.banner{src: "/images/banner/foreigner.jpg", alt: "foreigner", data: {topic: "foreigner"}}

#primary
  .wrapper
    %article.topics
      %section
        %article.topic{data: { topic: "rider"}}
          %hgroup
            %h1 Rider

          %p I'm part of a sick bicycle gang. We call ourselves The Rippers.

          %footer
            %p You've probably heard of us.

        %article.topic{data: { topic: "boarder"}}
          %hgroup
            %h1 Boarder

          %p The moment it stops being summer we'll be back on the mountain.

          %footer
            %p I'm not great, but I learn by doing.

        %article.topic{data: { topic: "developer"}}
          %hgroup
            %h1 Developer

          %p During the week I get to learn more, build things and teach people.

          %footer
            %p I have a sweet job, but it's not my life.

        %article.topic{data: { topic: "foreigner"}}
          %hgroup
            %h1 Foreigner

          %p I moved to the States for work, I came to NYC and left for Williamsburg.

          %footer
            %p People like my accent, you will also.
