body {
  padding-bottom: 50px;
}

.navbar .brand {
  cursor: pointer;
}

.navbar .brand:hover {
  color: #333333;
}

.navbar-inner {
  border-radius: 0;
  border: 0;
  background: white;
}

.thumbnail.span12, .thumbnail.span4 {
  box-sizing: border-box;
}

.thumbnail.span4 {
  margin-bottom: 0;
}

.thumbnail {
  cursor: default;
}

.thumbnail p, .thumbnail h3 {
  margin-bottom: 0;
}

.thumbnail a:hover {
  text-decoration: none;
}

.thumbnail a:hover h3, .thumbnail a:hover p {
  color: #558bc4;
}

.career h4, .education h4 {
  border-bottom: 2px solid #333;
  margin-bottom: 20px;
}

.jobs dt:not(:first-child), .schools dt:not(:first-child) {
  border-bottom: 1px solid #333;
  margin-top: 20px;
}

.jobs h5, .schools h5 {
  font-weight: bold;
}

.jobs h5 time, .schools h5 time {
  float: right;
}
