body {
  padding: 60px 0;
}

.navbar .brand {
  cursor: pointer;
  margin-left: 0;
}

.navbar .brand:hover {
  color: #333333;
}

.navbar-inner {
  border-radius: 0;
  border: 0;
  background: white;
}

.thumbnails {
  position: absolute;
  top: 50%;
  margin-top: -160px;
  z-index: -1;
}

.thumbnail.span12, .thumbnail.span4 {
  box-sizing: border-box;
}

.thumbnail.span4 {
  margin-bottom: 0;
}

.thumbnail {
  cursor: default;
}

.thumbnail p, .thumbnail h3 {
  margin-bottom: 0;
}

.thumbnail a:hover {
  text-decoration: none;
}

.thumbnail a:hover h3, .thumbnail a:hover p {
  color: #558bc4;
}

.career h4, .education h4 {
  border-bottom: 2px solid #333;
  margin-bottom: 20px;
}

.jobs dt, .schools dt {
  border-bottom: 1px solid #333;
}

.jobs dd, .schools dd {
  margin-bottom: 30px;
}

.jobs h5, .schools h5 {
  font-weight: bold;
}

.jobs h5 time, .schools h5 time {
  float: right;
}
