<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootswatch/2.1.0/journal/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/stylesheet.css" rel="stylesheet">
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">Dirk Kelly</a>
      <ul class="nav pull-right">
        <li><a href="http://github.com/dirkkelly">github</a></li>
        <li><a href="http://twitter.com/dirkkelly">twitter</a></li>
        <li><a href="http://dirkkelly.tumblr.com">tumblr</a></li>
        <li><a href="http://pivotallabs.com/users/dkelly/blog">pivotal</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    {{ content }}
  </div>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
</body>
</html>
